### columns expansion

sl_no 
Serial Number

gender 
Gender- Male='M',Female='F'

ssc_p
Secondary Education percentage- 10th Grade

ssc_b
Board of Education- Central/ Others

hsc_p
Higher Secondary Education percentage- 12th Grade

hsc_b
Board of Education- Central/ Others

hsc_s
Specialization in Higher Secondary Education

degree_p
Degree Percentage

degree_t
Under Graduation(Degree type)- Field of degree education

workex
Work Experience

etest_p
Employability test percentage ( conducted by college)

specialisation
Post Graduation(MBA)- Specialization

mba_p
MBA percentage

status
Status of placement- Placed/Not placed

salary
Salary offered by corporate to candidates

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, classification_report, mean_squared_error, accuracy_score
from sklearn import metrics
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings ('ignore')

In [3]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [2]:
 df = pd.read_excel('Students_Database_Template.xlsx')

In [3]:
df.head()

,Regd.No,Name,Gender,Email Address (active personal ID),Contact Number,Year of Graduation,Branch,Course ( B.Tech / MCA / M.Tech),CGPA,Any Active Backlogs,"Core Skillset (Java, Python, .Net, SQL etc)",Placed/Unplaced
0,20B01A5401,Anandam Naga Lakshmi Sarika,Female,sarikaanandam@gmail.com,9866758138,2024,AIDS,B.Tech,8.90,0,"JAVA, Python, SQL",Placed
1,20B01A5403,Bomma Shanmukha Sri Sai Bharathi,Female,shanmukhabomma@gmail.com,9381473969,2024,AIDS,B.Tech,8.21,0,"JAVA, Python, SQL",unplaced
2,20B01A5404,Boppadala Manjusha,Female,manjushaboppadala31@gmail.com,7095929661,2024,AIDS,B.Tech,8.76,0,"JAVA, Python, SQL",unplaced
3,20B01A5405,Busanaboina Bhaskara Venkata Satya Pavani,Female,pavanibusanaboina73@gmail.com,7392914444,2024,AIDS,B.Tech,9.24,0,"JAVA, Python, SQL",Placed
4,20B01A5406,Challa Venkata Sowjanya,Female,sowjanya.challa789@gmail.com,8008554753,2024,AIDS,B.Tech,8.33,0,"JAVA, Python, SQL",unplaced

In [4]:
df.sample(5)

,Regd.No,Name,Gender,Email Address (active personal ID),Contact Number,Year of Graduation,Branch,Course ( B.Tech / MCA / M.Tech),CGPA,Any Active Backlogs,"Core Skillset (Java, Python, .Net, SQL etc)",Placed/Unplaced
328,20B01A0484,Malladi Sri Laasya,Female,laasyasri2003@gmail.com,7382986326,2024,ECE,B.Tech,8.72,0,Python,unplaced
725,21B05A1216,Sayila Naga Sandhya,Female,sandhyasayila@gmail.com,6305852474,2024,IT,B.Tech,8.52,0,"JAVA, Python, SQL",Placed
569,20B01A1228,Chanapathi Bhargavi,Female,bhargavichanapathi2002@gmail.com,6304788215,2024,IT,B.Tech,8.59,0,"JAVA, Python, SQL",unplaced
73,20B01A0512,Biruda Sharani Bhuvana Sree,Female,sharanibiruda123@gmail.com,6281483505,2024,CSE,B.Tech,9.06,0,"JAVA, Python, SQL",Placed
541,21B05A0215,Veeranki Sushma,Female,VEERANKISUSHMA2003@GMAIL.COM,8686588218,2024,EEE,B.Tech,8.92,0,Python,unplaced

In [5]:
a = df['Placed/Unplaced']

In [6]:
aa = list(a)
print(a)

0        Placed
1      unplaced
2      unplaced
3        Placed
4      unplaced
         ...
723    unplaced
724    unplaced
725      Placed
726    unplaced
727      Placed
Name: Placed/Unplaced, Length: 728, dtype: object

In [7]:
cnt = 0
c = 0
for i in aa:
    if i=='Placed':
        cnt+=1
    else:
        c+=1
print('placed :',cnt)
print('Unplaced :',c)
print('total : ',c+cnt)

placed : 237
Unplaced : 491
total :  728

In [8]:
a = df[(df["Placed/Unplaced"]=='Placed') & (df["Branch"]=='AIDS')]

In [9]:
a

,Regd.No,Name,Gender,Email Address (active personal ID),Contact Number,Year of Graduation,Branch,Course ( B.Tech / MCA / M.Tech),CGPA,Any Active Backlogs,"Core Skillset (Java, Python, .Net, SQL etc)",Placed/Unplaced
0,20B01A5401,Anandam Naga Lakshmi Sarika,Female,sarikaanandam@gmail.com,9866758138,2024,AIDS,B.Tech,8.90,0,"JAVA, Python, SQL",Placed
3,20B01A5405,Busanaboina Bhaskara Venkata Satya Pavani,Female,pavanibusanaboina73@gmail.com,7392914444,2024,AIDS,B.Tech,9.24,0,"JAVA, Python, SQL",Placed
5,20B01A5408,Chendra Satya Valli Andey,Female,chendrasatyavalliandey@gmail.com,9491546499,2024,AIDS,B.Tech,8.51,0,"JAVA, Python, SQL",Placed
7,20B01A5410,Dandu Likhitha Sreeja,Female,likhithasreejadandu@gmail.com,8973285555,2024,AIDS,B.Tech,8.59,0,"JAVA, Python, SQL",Placed
10,20B01A5413,Ganta Sahiti,Female,sahitiganta22@gmail.com,9550240861,2024,AIDS,B.Tech,9.13,0,"JAVA, Python, SQL",Placed
11,20B01A5414,GORRUMUCHU SUPRITHA,Female,hansisupritha@gmail.com,7893717780,2024,AIDS,B.Tech,8.66,0,"JAVA, Python, SQL",Placed
12,20B01A5415,Gundu Sai Sriya,Female,gsaisriya@gmail.com,7386311111,2024,AIDS,B.Tech,7.94,0,"JAVA, Python, SQL",Placed
15,20B01A5420,Karnatakapu P R K M Parvathi,Female,parvathi1212karnatakapu@gmail.com,9652752360,2024,AIDS,B.Tech,8.86,0,"JAVA, Python, SQL",Placed
17,20B01A5422,Kengam Neeharika,Female,neeharikakengam@gmail.com,9505314567,2024,AIDS,B.Tech,8.08,0,"JAVA, Python, SQL",Placed
19,20B01A5424,Kolli Sneha Gowri,Female,kollisnehagowri@gmail.com,7396887366,2024,AIDS,B.Tech,9.18,0,"JAVA, Python, SQL",Placed
24,20B01A5429,Mutyala Sri Reshma,Female,srireshma2003@gmail.com,9014485835,2024,AIDS,B.Tech,8.71,0,"JAVA, Python, SQL",Placed
25,20B01A5430,Naidu Swapna,Female,swapnanaidu457@gmail.com,9182414931,2024,AIDS,B.Tech,8.89,0,"JAVA, Python, SQL",Placed
26,20B01A5431,Namana Devi Sreehitha,Female,sreehithanamana@gmail.com,9028283369,2024,AIDS,B.Tech,8.29,0,"JAVA, Python, SQL",Placed
27,20B01A5432,Nannapaneni Kavyasri,Female,nannapaneni.kavyasri@gmail.com,9390499126,2024,AIDS,B.Tech,8.64,0,"JAVA, Python, SQL",Placed
28,20B01A5433,Pachuru Akshaya,Female,pachuru.akshaya@gmail.com,9392415621,2024,AIDS,B.Tech,8.86,0,"JAVA, Python, SQL",Placed
32,20B01A5437,Patamsetti Radhi Sri Bhavya,Female,bhavya.p1030@gmail.com,8978775844,2024,AIDS,B.Tech,8.65,0,"JAVA, Python, SQL",Placed
33,20B01A5438,PENDEM YESASWINI DEVI,Female,yesaswini.1110@gmail.com,8688353280,2024,AIDS,B.Tech,8.45,0,"JAVA, Python, SQL",Placed
36,20B01A5441,Pichika Veera Venkata Naga Bhuvana Sri,Female,bhuvana.pichika@gmail.com,6281459390,2024,AIDS,B.Tech,9.06,0,"JAVA, Python, SQL",Placed
38,20B01A5443,Polagani Vimala,Female,vimalapolagani00@gmail.com,7013412230,2024,AIDS,B.Tech,8.96,0,"JAVA, Python, SQL",Placed
39,20B01A5444,Prasanna Sai Devi Reddy,Female,prasannasaidevi@gmail.com,6302562994,2024,AIDS,B.Tech,8.63,0,"JAVA, Python, SQL",Placed
40,20B01A5445,Pujitha Kothapalli,Female,kothapallipujitha3354@gmail.com,9100047239,2024,AIDS,B.Tech,9.00,0,"JAVA, Python, SQL",Placed
43,20B01A5448,Shaik Ayesha,Female,shaikayesha8426@gmail.com,7386098426,2024,AIDS,B.Tech,9.22,0,"JAVA, Python, SQL",Placed
52,20B01A5459,Thavva Aiswarya Lakshmi,Female,aiswaryathavva@gmail.com,9704152526,2024,AIDS,B.Tech,8.88,0,"JAVA, Python, SQL",Placed
53,20B01A5460,Ukkusuri Lasya,Female,lasyaukkusuri@gmail.com,9440770598,2024,AIDS,B.Tech,8.91,0,"JAVA, Python, SQL",Placed
55,20B01A5462,Varre Praneetha,Female,praneethavarre@gmail.com,9347055374,2024,AIDS,B.Tech,7.58,0,"JAVA, Python, SQL",Placed
56,20B01A5463,Vegiraju Sriya Sai Sri,Female,sriyasaisri@gmail.com,8332907840,2024,AIDS,B.Tech,9.12,0,"JAVA, Python, SQL",Placed
61,21B05A5404,Mahanandi Amrutha,Female,mahanandhiamruths@gmail.com,7702682437,2024,AIDS,B.Tech,8.71,0,"JAVA, Python, SQL",Placed
62,21B05A5405,Potthuri Kavya Sri,Female,pkavyasri15@gmail.com,8309430070,2024,AIDS,B.Tech,9.14,0,"JAVA, Python, SQL",Placed
63,21B05A5406,Ramadurgam Rishitha,Female,rishitharamadurgam.0403@gmail.com,9676067923,2024,AIDS,B.Tech,8.68,0,"JAVA, Python, SQL",Placed

The inner square brackets define a Python list with column names, whereas the outer brackets are used to select the data from a pandas DataFrame as seen in the previous example.

In [14]:
placed = df[(df["Placed/Unplaced"]=="Placed")]

In [16]:
placed.count()

Regd.No                                        237
Name                                           237
Gender                                         237
Email Address (active personal ID)             237
Contact Number                                 237
Year of Graduation                             237
Branch                                         237
Course ( B.Tech / MCA / M.Tech)                237
CGPA                                           237
Any Active Backlogs                            237
Core Skillset (Java, Python, .Net, SQL etc)    237
Placed/Unplaced                                237
dtype: int64